# ======= Database Settings =======
REDIS_HOST=localhost
REDIS_PORT=6379

# ======= Vision Settings =========
INTERSECTION_ID=CP_01
VIDEO_SOURCE=0

# ======= Application Settings ====
DEMO_MODE=true
DEMO_COMPRESS=false
GRIDLOCK_CYCLES=3

# ======= Frontend ENV Variables ==
VITE_WS_URL=ws://localhost:8000/ws
VITE_API_URL=http://localhost:8000
